name: vibraguard
description: This app is my solution to the Tractian challenge.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.1.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  husky: ^0.1.6
  test: ^1.24.3

flutter:
  uses-material-design: true
